
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="background-image: url(../../Images/brown512.png); background-size: cover; width:256px; height: 256px"><canvas id="board" width="256" height="256"></canvas></div>

    @using (Ajax.BeginForm("ShowBoard", new AjaxOptions { OnSuccess = "OnSuccess" }))
    {
        <input type="submit" value="Show board" />
    }
    <br />
    <div id="results"></div>

    @*@Ajax.ActionLink("Play for white", "PlayWhite", null);*@

    @Ajax.ActionLink("New game for black", "PlayBlack", null);

    @Ajax.ActionLink("Stop", "Reset", null);

    <script type="text/javascript">
        function OnSuccess(data) {
            
            UpdateBoard(data);
        }

        function UpdateBoard(data) {
            var b_canvas = document.getElementById("board");
            b_canvas.width = 256;
            var b_context = b_canvas.getContext("2d");

            var x = 0;
            var y = 0;


            for (var i = 0; i < data.curState.length; i++) {
                if (data.curState[i] == -1) continue;
                else if (data.curState[i] == 1) b_context.fillStyle = "#EEEEEE";
                else if (data.curState[i] == 2) b_context.fillStyle = "#111111";

                x = i % 8;
                //y = parseInt(i / 8);

                y = (i / 8 | 0);

                b_context.fillRect(x * 32, y * 32, 32, 32);
            }

            b_context.fillStyle = "#0000AA";
            b_context.fillRect(data.curHint.moveFrom.x * 32, data.curHint.moveFrom.y * 32, 32, 32);
            b_context.fillRect(data.curHint.moveTo.x * 32, data.curHint.moveTo.y * 32, 32, 32);

        }
    </script>

</body>

</html>

@section Scripts{
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.2.js")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Scripts/SignalR/board.js")
}