@model List<Chess.Atomic.Crawling.Models.AtomicGameInfo>

@{
    ViewBag.Title = "Home Page";
    ViewBag.Player = "Aragorn1";
}

<div class="jumbotron">
    
    @Html.ActionLink("Start cheating:)", "Index", "GameMoves", null, new { @class = "btn btn-primary btn-lg" })
    </br>
    
   
</div>


@if (Model != null && Model.Count > 0)
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].white)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].black)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].moves)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.white)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.black)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.moves)
            </td>
        </tr>
    }
    

</table>
    }